.modal-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color:white;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 1rem;
}
