.modal-body {
    overflow: hidden !important;
    margin-right: 0px !important;       
}

.text-only-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    display: flex;
    color:blue;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.react-icons {
    margin-top: 0.3em;;
    vertical-align:middle !important;
}

.add-new-suit {
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

.date-picker {
    z-index: 1000 !important;
    position: relative;
    border: 1px solid #ced4da;
    padding: 0px 0px 0px 2%;
}
