.align {
    margin-right: 10rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.col-dates-1 {
    margin-left: 8rem;
}

.col-dates-2 {
   margin-left: -6rem;
}

.col-checkbox-1 {
    margin-left: 16.2em;
}

.col-checkbox-2 {
    margin-left: -20em;
}

