.text-only-button {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    display: flex;
    color:mediumblue;
    margin-right: 1rem;
    margin-bottom: 0.7rem;
    align-items: center;
    font-size: 1rem;
}

.add-new-suit {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
    .text-only-button {
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    .dialog-footer {
        margin-bottom: 1.5rem !important;
    }
}
